<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samueva.remindme">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UpdateTaskActivity"
            android:label="@string/modify"/>
        <activity
            android:name=".TrendActivity"
            android:label="@string/trend" />
        <activity
            android:name=".CategoryActivity"
            android:label="@string/categories" />
        <activity
            android:name=".HistoryActivity"
            android:label="@string/history" />
        <activity
            android:name=".AddTaskActivity"
            android:label="@string/add_task" />
        <activity
            android:name=".TaskInfoActivity"
            android:label="@string/task_informations" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".NotificationPublisher">
            <intent-filter>
                <action android:name="com.samueva.remindme.broadcast.notificationpublisher" />
            </intent-filter>
        </receiver>
    </application>

</manifest>